*.o
*.a
*.log
tsunami-udp/*/Makefile
tsunami-udp/*/Makefile.in
tsunami-udp/Makefile.in
tsunami-udp/config.*
tsunami-udp/configure
tsunami-udp/depcomp
tsunami-udp/install-sh
tsunami-udp/libtool
tsunami-udp/compile
tsunami-udp/missing
tsunami-udp/stamp-h*
tsunami-udp/ltmain.sh
tsunami-udp/aclocal.m4
tsunami-udp/autom4te.cache/
tsunami-udp/m4/
tsunami-udp/*/.deps
tsunami-udp/client/tsunami
tsunami-udp/rtclient/rttsunami
tsunami-udp/rtserver/rttsunamid
tsunami-udp/server/tsunamid
tsunami-udp/tsunami.spec
tsunami-udp/util/fusereadtest
tsunami-udp/util/readtest
tsunami-udp/util/writetest

